<div class="pre-scrollable">
  <% @metros.each do |metro_name| %>
    <div class="form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" value="">
        <%= metro_name %>
      </label>
    </div>
  <% end %>
</div>
