
<div class= "container-fluid col-xs-12">
<div class= "row">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a href='#' class='navbar-brand'>
        <img src="/images/logo.png" class="logo">
      </a>
    </div>
  </nav>
</div>
