<div class="form-group">
  <label class="form-check-inline">
    <input class="form-check-input" type="checkbox" id="checkAll_2" value="ALL" checked> SELECT ALL </input>
  </label>
</div>
<div class="platform-inline" id="all_os_categories">
  <label class="form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="Android"> Android
  </label>
  <label class="form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="iOS"> iOS
  </label>
</div>
