<div class="platform-inline">
  <label class="form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> Mobile App
  </label>
  <label class="form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"> Mobile Web
  </label>
  <label class="form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Tablet App
  </label>
  <label class="form-check-inline">
    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3"> Tablet Web
  </label>
</div>
