
<div class="pre-scrollable">
  <% @audiences.each do |audience_name| %>
    <label class="form-check-inline">
      <%= f.check_box(:audiences, {:multiple => true}, audiences.name, nil) %>
    </label>
  <% end %>
</div>
