<div class= "container-fluid col-md-6">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href='#' class='navbar-brand'>
          <img src="/images/logo.png" class="logo">
        </a>
      </div>
    </div>
  </nav>
</div>


<p id="notice"><%= notice %></p>
<%= @entry.to_json %>
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
